
html,body
{
    background-color: #fff ;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
    position: relative;
}
body
{
    background-image: linear-gradient(#fff,#fff,rgb(67, 255, 199));
}
/*---------nav------------*/
nav
{
    background-image: linear-gradient(90deg,rgb(1, 255, 213),rgba(255,255,255,1),rgba(255,255,255,1));
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
}
nav a
{
    color: seashell;
}
.nav-item
{
    color: #fff;
}

/*---------------------------*/



/*-carousel section----*/
.sImage
{
    width: 100vw;
    max-height: 80vh !important;
}

.carousel-caption h3
{
    background-image: linear-gradient(90deg,rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0));
    font-size: 13ev;
    max-width: 35vw;
    padding: 0.6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carousel-caption i
{
    color: #fff;
}
/*-------------------------*/
.quotes
{
    background-image: linear-gradient(90deg,rgba(0,0,0,1),rgba(0,0,0,0));
    color: #fff;
    position: absolute;
    z-index: 1;
    top: 0%;
    max-width: 30vw;
    max-height: 80vh;
    padding-top: 15vw;
    padding-bottom: 15vw;
}
.quotes h1
{
    text-align: center;
    font-size: 15ev;
}
.quotes p
{
    text-align: center;
    margin-left: 2vw;
    font-size: 9ev;
    
}



/*--------------------------------------*/

.cont1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;

}
.cont1 h1
{
    padding: 22px;
    border-bottom: 4px solid rgb(59, 0, 0);
    margin-bottom:2vh ;
}
/*-------------------------------------*/
.cont2
{
    position: relative;
    transition: 2s ease;
}
.cont2 img
{
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.content2
{
    background-image: linear-gradient(90deg,rgb(255, 255, 255),rgb(204, 255, 162));
    padding:2vh;
    position: relative;
    top: 2vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.padding-0{
    padding-right:0;
    padding-left:0;
}

/*---------------------------------------*/
.cont3
{
    margin-top: 3vh;
}
.cont3 img
{
    border: 8px solid #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.content3
{
    background-image: linear-gradient(90deg,rgb(253, 188, 188),rgb(255, 255, 255));
    padding:2vh;
    position: relative;
    top: 2vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-top-left-radius: 20px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}


/*---------------------------------------*/
.cont4
{
    margin-top: 3vh;
    margin-bottom: 3vh;
}
.cont4 img
{
    border: 8px solid #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}
.content4
{
    background-image: linear-gradient(90deg,rgb(255, 255, 255),#c3d3ff);
    padding:2vh;
    position: relative;
    top: 2vh;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.padding-0{
    padding-right:0;
    padding-left:0;
}


/*----------------------------------------*/


/*---------footer section----------*/
footer
{
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    padding:30px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
    
}
footer p
{
    margin-top: 10px;
    font-size: small;
}

footer i
{
    border-radius: 100%;
    padding:10px;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 1.5vw;
    margin-top: 1vw;
}


/*--------------------------------*/


/*-------map------------------------------*/
.contact h1
{
    margin-top: 15vh;
}
.map
{
    border: 2px solid #fff;
}

/*-------------about-----------------*/
.aboutbody
{  
    color: rgba(42, 34, 34, 0.918);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f1f1f1;
}
.aboutsection
{
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}
.aboutsection img
{
    border: 10px solid #fff;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
}
.inner-container
{
    position: relative;
    left: -5vw;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width: 100%;
    background-color:#fff;
    padding: 85px;
    border-radius: 20px;
}

/*-------------------------------------*/
