
html,body
{
    background-color: #fff ;
    width: 100% !important;
    margin: 0px !important;
    padding: 0px !important;
    overflow-x: hidden !important;
    position: relative;
}
/*---------nav------------*/
nav
{
    background-color: rgba(0,0,0,0.5);
}
nav a
{
    color: seashell;
}
.nav-item
{
    color: #fff;
}

/*---------------------------*/



/*-carousel section----*/
.sImage
{
    width: 100vw;
    max-height: 80vh !important;
}
.captions
{
    position: relative;
    left: -18vw;
    text-align: center;
    border-radius: 15px;
    font-size: 20px;
    
}
.carousel-caption h3
{
    background:rgba(209, 102, 102, 1);
    font-size:3.5vh;
    width: 15vw;
    padding: 0.6vw;
    padding-left: 2vw;
    padding-right: 2vw;
    border-radius: 20px;
    margin-left: 1vw;
  
    
}
.carousel-caption
{
    max-width: 12vw;
    padding-top: 15vw;
    padding-bottom: 15vw;
    max-width: 30vw;
    background-image: linear-gradient(90deg,rgb(0, 0, 0),rgba(255, 255, 255,0));
}
.carousel-caption p
{
    margin-left: 1vw;
    top:-20vh;
    font-size: 2.5vh;
}
/*-----------*/

.cont1
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}
.cont2
{
    font-family: Tahoma;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: rgb(123, 130, 141);
    padding:2vh;
    border-radius: 15px;
    color: ghostwhite;
}
.cont3
{
    font-family: Tahoma;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: rgba(77, 111, 165,.2);
    padding:2vh;
    border-radius: 15px;
    color: rgb(23, 23, 31);
}
.cont4
{
    font-family: Tahoma;
    margin-top: 10vh;
    margin-bottom: 10vh;
    background: rgb(123, 130, 141);
    padding:2vh;
    border-radius: 15px;
    color: ghostwhite;
}


/*---------footer section----------*/
footer
{
    background-image:linear-gradient(#222,rgb(44, 0, 0),#111) ;
    color: #fff;
    padding:30px;
    box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-moz-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
	-webkit-box-shadow: 0 0 10px 0px rgba(0,0,0,0.18);
    
}
footer p
{
    margin-top: 10px;
    font-size: small;
}

footer i
{
    border-radius: 100%;
    padding:10px;
    color: #fff;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 100%;
    margin-right: 1.5vw;
    margin-top: 1vw;
}


/*--------------------------------*/